body {
    text-align: center;
    background: #fffef2;
  font-family: arial;
  font-weight: 100;
}

h1 {
  color: #black;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

h2 {
  color: #black;
  font-weight: 100;
  font-size: 25px;
  margin: 40px 0px 20px;
}

#clockdiv {
    font-family: arial;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #808080;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #000000;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

#poem div > span{
    font-size: 30px;
    color: #fff;
    padding: 100px;
    border-radius: 3px;
    background: #808080;
    display: inline-block;

}