body {
	margin: 0;
	padding: 0;
	font-family:worksans-regular;
}

h2 {
	font-family: worksans-regular;
	text-align: center;
}

@font-face {
	font-family: 'WorkSans';
	src: url('webfonts/woff/WorkSans-Regular.woff') format('woff'),
		 url('webfonts/woff2/WorkSans-Regular.woff2') format('woff'),
		 url('webfonts/ttf/WorkSans-Regular.ttf') format('truetype'),
	}

p {
	font-family: worksans-regular;
	/* text-decoration: overline; */
	text-align: center;
	font-size: 11pt;
}

p.width {
	height: 230px;
	width: 600px;
	line-height: 160%;
	letter-spacing: .5px;
}

form {
	text-align: center;
}

.error {color: #FF0000;}