body {
	margin: 0;
	padding: 0;
	font-family:worksans-regular;
}

h2 {
	font-family: worksans-regular;
	text-align: center;
}

.color {
	color: red;
}

@font-face {
	font-family: 'WorkSans';
	src: url('webfonts/woff/WorkSans-Regular.woff') format('woff'),
		 url('webfonts/woff2/WorkSans-Regular.woff2') format('woff'),
		 url('webfonts/ttf/WorkSans-Regular.ttf') format('truetype'),
	}

p {
	font-family: worksans-regular;
	/* text-decoration: overline; */
	text-align: center;
	font-size: 11pt;
}

.answers {
  font-family: worksans-regular;
  text-align: center;
  font-size: 11pt;
}

div.textContainer {
  width:103em;
  margin: 0 auto; 1em auto;
  border: none;
  padding:1em;
}

div.textContainer p{
  ;
}

p.width {
	height: 230px;
	width: 600px;
	line-height: 160%;
	letter-spacing: .5px;
}

form {
	text-align: center;
}

.error {color: #FF0000;}

.center {
	display: block;
	margin: 0 auto;
}

section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.answers li {
  list-style:upper-alpha;
}

label {
  margin-left:0.5em;
  cursor:pointer;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(100, 219, 32, 0.19999999999999996);
}

#progress {
	position: relative;
	width: 100%;
	height:30px;
	background-color:#ddd;
}

#bar {
	position: absolute;
	width: 10%;
	height: 100%;
	background-color: red;
}

#percentage {
	text-align:center;
	line-height: 30px;
	color: white;
}

audio { 
   display:none;
}


