body {
	margin:0;
	padding:0;
}
h1 {
	font-family: arial;
}

.container {
    background-color: #ddd;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}

.pageBackground {
position: relative;
}

.pageBackground img {
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:cover;
}

.button {
    background-color: #bbb;
    display: block;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
}

.rcorners1 {
	border-radius: 25px;
	background: #fbeaea;
	padding: 0px;
	width: relative;
	height: 150px;
}

h6 {
	font-family: arial;
}

.text {
	border-radius: 25px;
	background: #ffffff;
	padding:20px;
	width: relative;
	height: 150px;
}

p {
	font-family: arial;
	font-size:11pt;
}

p.width {
    height: 230px;
    width: 600px;
    line-height: 160%;
}

.head {
	font-size: 9pt;
}

h2 {
	font-family: arial;
}

h3 {
	font-family: arial;
	text-decoration: overline;
}


h4 {
	font-family: arial;
}

h5 {
	font-family: arial;
}

#header h1,
#header h2,
#header p {
	margin-left:2%;
	padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	margin-left:2%;
	padding-right:2%;
}

/* Start of Column CSS */
#container4 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#e6e6e6; /* column 4 background colour */
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 1 background colour */
}
#col1 {
	float:left;
	width:21%;
	position:relative;
	left:77%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:81%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:85%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:89%;
	overflow:hidden;


}
   