body {
	margin:0;
	padding:0;
	font-family: worksans-regular;
}


h3 {
	font-family: worksans-regular;
	text-decoration: overline;
}

@font-face{ 
	font-family: 'WorkSans';
	src: url('webfonts/woff/WorkSans-Regular.woff') format('woff'),
		 url('webfonts/woff2/WorkSans-Regular.woff2') format('woff2'),
	     url('webfonts/ttf/WorkSans-Regular.ttf') format('truetype'),

}

span.rollover {
	opacity: .5;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url(images/mag.png) center center no-repeat #000;
	cursor: pointer;
	height: 146px;
	width: 347px;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

.text {
	border-radius: 25px;
	background: #ffffff;
	padding:20px;
	width: relative;
	height: 150px;
}

.container {
    background-color: #404040;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
}

.pageBackground {
position: relative;
}

.pageBackground img {
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:cover;
}

.button {
    background-color: #bbb;
    display: block;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
}

.rcorners1 {
	border-radius: 25px;
	background: #f3bfbf;
	padding: 0px;
	width: relative;
	height: 150px;
}


p {
	font-family: worksans-regular;
	font-size:11pt;
}

p.width {
    height: 230px;
    width: 600px;
    line-height: 160%;
    letter-spacing: .5px;
}

.head {
	font-size: 19pt;

}



#header h1,
#header h2,
#header p {
	margin-left:2%;
	padding-right:2%;
}
#active2 #tab2,
#active3 #tab3,
#active4 #tab4,
#active5 #tab5 {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
#footer p {
	margin-left:2%;
	padding-right:2%;
}

/* Start of Column CSS */
#container4 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#e6e6e6; /* column 4 background colour */
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:25%;
	background:#e6e6e6; /* column 1 background colour */
}
#col1 {
	float:left;
	width:21%;
	position:relative;
	left:77%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:81%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:85%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:89%;
	overflow:hidden;
}

   